* {
	margin: 0;
	padding: 0;
}

body > div {
	background-color: lightseagreen;
	font-family: "Oswald", sans-serif;
	padding-top: 120px;
	padding-bottom: 120px;
	color: goldenrod;
}

.section-contact {
    padding: 120px;
		background-color: #fff;
}

.section-contact .header-section .title {
	position: relative;
	margin-bottom: 17px;
	text-transform: uppercase;
    font-weight: 700;
    font-size: 55px;
}

.section-contact .header-section .title .dot {
    display: inline-block;
	position: absolute;
    bottom: 8px;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    background-color: #df383f;
}

.section-contact .header-section .description {
	font-family: "Roboto", sans-serif;
	color: #2a6287;
}

.section-contact .header-section .big-title {
	position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%,70%);
    font-size: 120px;
    font-weight: 700;
    opacity: 0.15;
}

.section-contact .form-contact {

}

.section-contact .form-contact .single-input {
	position: relative;
    margin-top: 40px;
}

.section-contact .form-contact .single-input i {
	position: absolute;
    top: 5px;
    left: 15px;
    color: black;
}

.section-contact .form-contact .single-input input,
.section-contact .form-contact .single-input textarea {
	width: 100%;
    border: none;
    border-bottom: 2px solid #07395c;
    padding-left: 50px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
		transition: border .3s;
}

.section-contact .form-contact .single-input input::placeholder,
.section-contact .form-contact .single-input textarea::placeholder {
	color: rgba(7, 57, 92, .3);
}

.section-contact .form-contact .single-input input:focus,
.section-contact .form-contact .single-input textarea:focus {
	border-color: goldenrod;
}

.section-contact .form-contact .single-input textarea {
	height: 150px;
	min-height: 50px;
}

.section-contact .form-contact .submit-input input {
	margin-top: 40px;
    padding: 15px 50px;
    background-color: navy;
    color: #fff;
    border: none;
    font-weight: 700;
    transition: background-color .3s;
}

.section-contact .form-contact .submit-input input:hover {
	background-color: #07395c;
}







.new {
    padding: 50px;
  }
  
  .form-group {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

@media (max-width: 575.99px) {
	.section-contact {
	    padding: 80px 60px;
	}

	.section-contact .header-section .title {
	    font-size: 40px;
	}

	.section-contact .header-section .big-title {
		font-size: 80px;
	}

	.section-contact .header-section .description {
		font-size: 14px;
	}
}

@media (min-width: 576px) and (max-width: 767.99px) {
	.section-contact {
	    padding: 80px 60px;
	}

	.section-contact .header-section .title {
	    font-size: 45px;
	}

	.section-contact .header-section .big-title {
		font-size: 100px;
	}
}

@media (min-width: 768px) and (max-width: 991.99px) {
	.section-contact {
	    padding: 80px 60px;
	}

	.section-contact .header-section .title {
	    font-size: 45px;
	}

	.section-contact .header-section .big-title {
		font-size: 100px;
	}
}
